#pc1, #pc2, #pc3, #pc4{padding-left:0; padding-right:0; width:247px;}
#nopadding, #nopadding1, #nopadding2, #nopadding3{ margin-left:0px;}
#zbozi a,p{padding-left: 30px;}
#zbozi p{color:#999; padding-top:12px; width:187px; height:190px;}